{%extends '_base.html'%}
{%block title%}About{%endblock title%}
{%block content%}
<h1>About Page</h1>
<h5 style="margin-top: 10px;text-align: justify;">This website is powered by Django 3.0.<br>
    This is a bookstore website consisting of just the novels entirely.Every popular novel is available here.
    Some of the sample books are displayed on the homepage but youl'll need to login to see the entire list.
    The orders are powered by Stripe and the payment is made completely secure and reliable by the use of latest updates.
    After orering you will be able to read the book.And you can also review any book after reading.
    Although the website is not properly styled ,yet it is certain that it will be tailored very soon....</h5>
{%endblock content%}
